<template>
  <div class="auth">
    <div class="center grid">
      <vs-row class="ana-vs-row-min" justify="center" align="center">
        <vs-col vs-type="flex" vs-align="center" w="6">
          <sign-in />
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
import SignIn from "../components/SignIn.vue";

export default {
  name: "auth",
  components: {
    SignIn
  },

  data() {
    return {
      user: {
        username: "",
        password: ""
      }
    };
  }
};
</script>

<style scoped>
.ana-vs-row-min {
  min-height: 100vh;
}
</style>