<template>
  <div class="home">
    <div class="center grid">
      <vs-row class="ana-vs-row-min" justify="center" align="center">
        <vs-col vs-type="flex" vs-align="center" w="6">
          <multi-filter-select />
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
import MultiFilterSelect from "../components/MultiFilterSelect.vue";

export default {
  name: "Home",
  components: {
    MultiFilterSelect
  }
};
</script>

<style scoped>
.ana-vs-row-min {
  min-height: 80vh;
}
</style>