<template>
  <div>
    <p>Agrega uno o varios ingredientes</p>
    <vue-tags-input
      v-model="tag"
      placeholder
      :tags="tags"
      @tags-changed="newTags => tags = newTags"
      :separators="separators"
      :allow-edit-tags="true"
    />
    <div style="margin-top: 8px">
      <small style="color: rgba(0,0,0,0.7)">
        Utiliza
        <span class="ana-chip">,</span> (coma) o
        <span class="ana-chip">;</span> (punto y coma) como separador.
      </small>
    </div>
  </div>
</template>

<script>
import VueTagsInput from "@johmun/vue-tags-input";

export default {
  name: "multi-filter-select",
  components: {
    VueTagsInput
  },
  data: () => ({
    tag: "",
    tags: [],
    separators: [";", ","]
  })
};
</script>

<style lang="css">
.vs-select-content {
  max-width: 100%;
}
.vue-tags-input {
  max-width: 100%;
}
.vue-tags-input .ti-input {
  border-radius: 20px;
}
.vue-tags-input .ti-tag{
  border-radius: 20px;
}
</style>
