<template>
  <div class="form-sign-in mt-5 pt-5">
    <div class="ana-card">
      <div class="ana-card-header">
        <h3>Ingresar</h3>
      </div>
      <div class="ana-card-content">
          <!-- <form>
            <div class="grid">
              <vs-row>
                <vs-col
                  vs-type="flex"
                  vs-justify="center"
                  vs-align="center"
                  w="12"
                >
                  <validation-provider
                    rules="required"
                    name="username"
                    :bails="false"
                    v-slot="{ errors }"
                  >
                    <div class="ana-form-group">
                      <vs-input
                        v-model="user.username"
                        type="text"
                        required
                        label-placeholder="Ingresar nombre de usuario"
                      >
                        <template #icon>
                          <box-icon name="user"></box-icon>
                        </template>
                        <template #message-danger v-for="error in errors">{{
                          error
                        }}</template>
                      </vs-input>
                    </div>
                  </validation-provider>
                </vs-col>
                <vs-col
                  vs-type="flex"
                  vs-justify="center"
                  vs-align="center"
                  w="12"
                >
                  <validation-provider
                    rules="required"
                    name="contraseña"
                    :bails="false"
                    v-slot="{ errors }"
                  >
                    <div class="ana-form-group">
                      <vs-input
                        label-placeholder="Ingresar contraseña"
                        v-model="user.password"
                        type="password"
                        required
                      >
                        <template #icon>
                          <box-icon name="lock"></box-icon>
                        </template>
                        <template #message-danger v-for="error in errors">{{
                          error
                        }}</template>
                      </vs-input>
                    </div>
                  </validation-provider>
                </vs-col>
                <vs-col
                  vs-type="flex"
                  vs-justify="flex-end"
                  vs-align="center"
                  w="12"
                >
                  <div>
                    <vs-button
                      style="margin-left: auto"
                      type="line"
                      @click="onSubmit"
                      :disabled="invalid"
                      >Ingresar</vs-button
                    >
                  </div>
                </vs-col>
              </vs-row>
            </div>
          </form> -->
      </div>
    </div>
  </div>
</template>

<script>
import "boxicons";
import "@/assets/styles/ana-card.css";

export default {
  name: "sign-in",
  components: {
  },
  data() {
    return {
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$store.dispatch("usersModule/signIn", this.user);
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.user.username = "";
      this.user.password = "";
      // Trick to reset/clear native browser form validation state
    }
  }
};
</script>

<style scoped>
.form-sign-in {
  text-align: left;
}
.ana-card {
  min-height: 277px;
}
</style>
