<template>
  <div id="app">
    <ana-navbar />
    <v-container>
      <router-view />
    </v-container>
  </div>
</template>

<script>
import AnaNavbar from "./components/Navbar.vue";
export default {
  name: "app",
  components: {
    AnaNavbar
  }
};
</script>
