.ana-card{
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.ana-card-header{
    padding: 10px;
    -webkit-box-shadow: 0 10px 15px -10px rgba(0,0,0,.05);
    box-shadow: 0 10px 15px -10px rgba(0,0,0,.05);
}
.ana-card-content{
    padding: 10px;
    font-size: .8rem;
    margin-bottom: 15px;
}