body {
    font-family: "Poppins";
}

.ana-form-group {
    margin: 14px 10px;
    min-height: 47px;
}
.vs-input {
    width: 100%;
}
.vs-input__message--danger {
    margin-top: 5px;
}
.ana-chip{
    padding: 3px;
    background: #f0f0f0;
    border-radius: 10px;
}
